/* *{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color: burlywood;
    padding: 20px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: repeat(4,75px);
/*grid-template-rows: ;
box-shadow: 10px 10px 10px 0px black;

}

.calculadora button{
    background-color: white;
    border-style: none;
    font-size: 30px;
    
    border-radius: 40px;
    margin: 5px;
    box-shadow: 5px 5px 10px 0px rgb(78, 29, 1);
}

.calculadora button:hover{
    background-color: coral;
}

.cero{
    grid-column: span 2;
}

.pantalla{
    grid-column: span 3;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    height: 30px;
}

*/

body{
    text-align: center;
    color:rgb(255, 111, 0);
    background-image: url("https://t4.ftcdn.net/jpg/02/99/84/89/360_F_299848927_S0EwX0P6HWGigW6qZWFIBaczKMQuq5D9.jpg");
    background-size: 100%;
}

.calculadora{
    display: block;
    margin:0 auto;
    padding: 20px;
    background-color: #0acff6;
    width: 335px;
    height: 550px;
    border-radius: 25px;
}

.calculadora td button{
    background-color: white;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
    border-style: none;
    border-radius: 26px;
    box-shadow: 10px 5px 10px 0px rgb(0, 149, 255);
}

#titleCalc{
    display: block;
    text-align: center;
}

#operation{
    display: block;
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    font-style: bold;
}

#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    width: 290px;
    height: 80px;
    line-height: 100px;
    background-color: white;
    border-radius: 25px;
    overflow-y: scroll;
}

.opr{
    font-size: 50px;
}
.opr:hover{
    background-color: rgb(249, 147, 13);
}

.num:hover{
    background-color: rgb(12, 166, 249);
}

.resp:hover{
 background-color: rgb(4, 248, 166);
}

.borrar:hover{
    background-color: red;
}

footer{
    
    color: black;
}