h3{
    color: aqua;  
}
h1{
    color:blue;
}

p{
    size: 17px;
    color: rgb(0, 68, 253);
}

.clase1{
    color: aquamarine;
}
.clase2{
    color: rgb(248, 163, 4);
}

#idTitulo1{
color: rgb(206, 206, 17);

}

<!--Que en su valor tenga ec-->
a[href*="ec"]{ 
    
    color:brown;
}

a{
    text-decoration: none;
}

img[alt*="logo-banco pichincha"]{
    color: blueviolet;
}

label:hover{
    color: darkgoldenrod;
    font-size: 50px;
}

button{
    background-color: rgb(12, 152, 177);
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

button:hover{
    background-color: bisque;
}